// input {
//   display: block;
//   margin-bottom: 10px;
//   padding: 8px;
//   width: 100%;
// }



// small {
//   color: red;
// }

// button {
//   background-color: #0066ff;
//   color: white;
//   padding: 10px;
//   border: none;
//   cursor: pointer;
// }
